[Unit]
Description=Executa House Crawler às 06h, 14h e 22h diariamente
Requires=house-crawler.service

[Timer]
# Executa às 06:00
OnCalendar=*-*-* 06:00:00
# Executa às 14:00
OnCalendar=*-*-* 14:00:00
# Executa às 22:00
OnCalendar=*-*-* 22:00:00

# Se o sistema estiver desligado no horário agendado, executa ao ligar
Persistent=true

# Randomiza até 5 minutos para evitar sobrecarga se houver múltiplos timers
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
