[Unit]
Description=Executa House Validator às 00h, 08h e 16h diariamente
Requires=house-validator.service

[Timer]
# Executa às 00:00
OnCalendar=*-*-* 00:00:00
# Executa às 08:00
OnCalendar=*-*-* 08:00:00
# Executa às 16:00
OnCalendar=*-*-* 16:00:00

# Se o sistema estiver desligado no horário agendado, executa ao ligar
Persistent=true

# Randomiza até 5 minutos para evitar sobrecarga se houver múltiplos timers
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

